.orders__empty {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.orders__total {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 500;
    font-size: 24px;
}

.orders__summa {
    color: #bb6f0b;
}